/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.container{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 5px 15px 5px 15px;
  max-width: 300px;
}
.title{
  text-align: center;
}
.input-add{
  display: flex;
  input{
    width: 80%;
    padding-left: 15px;
  }
  button{
    width: 40px;
    height: 40px;
    color: white;
    border: none;
    background-color: cornflowerblue;
    font-weight: bold;
    font-size: 30px;
  }
}
.item{
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding-left: 10px;
  .name{
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.btn{
  display: flex;
  width: 60px;
  height: 30px;
  padding-top: 9px;
  padding-right: 10px;
  button{
    border: none;
    border-radius: 10px;
  }
  .edit{
    flex:1;
    background-color: #00bbff;
  }
  .delete{
    flex: 1;
    background-color: #ff3232;
  }
}
.img{
  width: 100%;
}
.info{
  display: flex;
  justify-content: space-between;
}

